<mat-dialog-content *ngIf="data && data.empleado">
    <h2>Detalles del Empleado</h2>
    <div class="detalles-container">
      <div class="detalle-item">
        <strong>Nombre:</strong> {{ data.empleado.nombre }}
      </div>
      <div class="detalle-item">
        <strong>Apellido Paterno:</strong> {{ data.empleado.apellido_paterno }}
      </div>
      <div class="detalle-item">
        <strong>Apellido Materno:</strong> {{ data.empleado.apellido_materno }}
      </div>
    </div>
    <div style="margin-bottom: 20px;"></div>
  

    <div *ngIf="data.empleado.prestamos && data.empleado.prestamos.length > 0">
        <h3>Préstamos</h3>
        <div class="detalles-container">
          <div class="detalle-item" *ngFor="let prestamo of data.empleado.prestamos">
           <div><strong>Cantidad:</strong> {{ prestamo.cantidad }}</div> 
           <div><strong>Quincenas:</strong> {{ prestamo.quincenas }}</div>
           <button mat-raised-button color="primary" (click)="aprobarPrestamo(prestamo)">Aprobar Préstamo</button>
          </div>
        </div>
        <div *ngIf="!data.empleado.prestamos || data.empleado.prestamos.length === 0">Aún no tiene registros de préstamos.</div>
      </div>
      <div style="margin-bottom: 20px;"></div>
  
    
    <div *ngIf="data.empleado.seguros_vida && data.empleado.seguros_vida.length > 0">
      <h3>Seguros de Vida</h3>
      <div class="detalles-container">
        <div class="detalle-item" *ngFor="let seguroVida of data.empleado.seguros_vida">
          <div><strong>Fecha Fallecimiento:</strong> {{ seguroVida.fecha_fallecimiento }}</div>
          <div><strong>Domicilio:</strong> {{ seguroVida.domicilio }}</div>
          <div><strong>Teléfono:</strong> {{ seguroVida.telefono }}</div>
          <div><strong>Beneficiario:</strong> {{ seguroVida.beneficiario }}</div>
        </div>        
      </div>
      <div *ngIf="!data.empleado.seguros_vida || data.empleado.seguros_vida.length === 0">Aún no tiene registros de seguros de vida.</div>
      
    </div>
    <div style="margin-bottom: 20px;"></div>
  
    <div class="acciones">
      <button style="margin: 15px;" mat-raised-button color="warn" (click)="cerrarModal()">Cerrar</button>
      <button style="margin: 15px;"  mat-raised-button color="accent" (click)="generarPDFSeguroVida()">Generar PDF Seguro de Vida</button>
      <button style="margin: 15px;"  mat-raised-button color="accent" (click)="generarPDFPrestamos()">Generar PDF Préstamos</button>
      
    </div>
  </mat-dialog-content>
  