<app-navegacion></app-navegacion>
<div class="header">
  <div class="logo-container logo-right" style="margin-bottom: 60px ; margin-left: 1600px;">
    <img src="assets/img/logo_centinela.png" alt="Logo" class="logo" />
  </div>
</div>

<div class="container">
  <div class="busqueda-empleados">
    <mat-form-field class="filtro">
      <mat-label>Filtrar por Nombre</mat-label>
      <input matInput (input)="aplicarFiltro($event, 'nombre')" placeholder="Escribe para filtrar" />
    </mat-form-field>
  </div>

  <div class="empleados-lista" [class.hand-cursor]="true">
    <h2>Lista de Empleados</h2>
    <mat-table [dataSource]="empleadosDataSource" class="mat-elevation-z8" >
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let empleado">{{ empleado.nombre }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="apellido_paterno">
        <mat-header-cell *matHeaderCellDef>Apellido Paterno</mat-header-cell>
        <mat-cell *matCellDef="let empleado">{{ empleado.apellido_paterno }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="apellido_materno">
        <mat-header-cell *matHeaderCellDef>Apellido Materno</mat-header-cell>
        <mat-cell *matCellDef="let empleado">{{ empleado.apellido_materno }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsEmpleado"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsEmpleado" (click)="seleccionarEmpleado(row)"></mat-row>
    </mat-table>
  </div >


  </div>
