.tabla-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }

  .hand-cursor {
    cursor: pointer;
  }
  
  .empleado-item {
    /* Estilos adicionales para los elementos de empleado si es necesario */
  }
  
  /* Estilos adicionales para la tabla si es necesario */
  