<div class="sidebar">
    <div class="logo">
      <img src="assets/img/Logotipo-SSPE-Horizontal-PNG.png" alt="Logo" />
    </div>
    <ul class="menu">
      <li><a routerLink="/busqueda-empleado">Registrar</a></li>      
      <!-- <li><a routerLink="/perfil">Ver registro</a></li> -->
      <li><a routerLink="/tabla-empleado">Registros</a></li>
      <!--<li><a routerLink="/ayuda">Configurar</a></li>-->
      <li><a routerLink="/lista-registros/">Listado de Tramites</a></li>
      <li><a routerLink="/aprobacion-prestamo/">Prestamos Aprobados</a></li>
    </ul>
    <button class="logout-button" (click)="logout()">Cerrar sesión</button>
  </div>
  
