<app-navegacion></app-navegacion>
<img src="./assets/img/logo_centinela.png" alt="Logo Centinela">

<div class="container">
  <h2>Nombre: {{ empleadoSeleccionado?.nombre }} {{ empleadoSeleccionado?.apellido_paterno }} {{ empleadoSeleccionado?.apellido_materno }}</h2>
  <h2>No. Empleado: {{ empleadoSeleccionado?.n_empleado }}</h2>

  
  <div class="form-container">
    <mat-tab-group class="form-tab-group">

<mat-tab label="Prestamo">
  <form class="form" [formGroup]="formulario1">
    <div class="form-row">
      <mat-form-field class="form-row-content">
        <input type="hidden" formControlName="empleado_id">
        <mat-label>Cantidad</mat-label>
        <mat-select formControlName="cantidad">
          <mat-option *ngFor="let opcion of opcionesCantidad" [value]="opcion">{{ opcion }}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>


    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Quincenas</mat-label>
        <mat-select formControlName="quincenas">
          <mat-option *ngFor="let opcion of opcionesQuincenas" [value]="opcion">{{ opcion }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


  

    <button mat-raised-button color="accent" (click)="guardarFormulario1()">Guardar</button>
    <!-- <button style="margin-top: 20px;" mat-raised-button color="primary" (click)="openModal()">Ver Historial de Préstamos</button> -->
    

  </form>
</mat-tab>

      

<mat-tab label="Gastos Funerarios">
  <form [formGroup]="formulario2" (ngSubmit)="guardarGastosFunerarios()">
      <div>
        <mat-checkbox formControlName="madre">Madre</mat-checkbox>
      </div>
      <div>
        <mat-checkbox formControlName="padre">Padre</mat-checkbox>
      </div>
      <div>
        <mat-checkbox formControlName="esposo">Esposo</mat-checkbox>
      </div>
      <div>
        <mat-checkbox formControlName="hijo">Hijo</mat-checkbox>
      </div>
    <button mat-raised-button color="accent" type="submit">Guardar</button>
  </form>
</mat-tab>





      <mat-tab label="Seguro de Vida">
        <form class="form" [formGroup]="formulario3">
          <div class="form-row">
            <mat-form-field class="form-field">
              <input type="hidden" formControlName="empleado_id">
              <input matInput placeholder="Fecha de fallecimiento" formControlName="fecha_fallecimiento" [matDatepicker]="picker" readonly>
  
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error style="font-size: 10px;" *ngIf="validacion_formulario_seguro_vida('telefono')">
                Favor de seleccionar una fecha
              </mat-error> 
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="form-field">
              <input matInput placeholder="Domicilio" formControlName="domicilio">
              <mat-error style="font-size: 10px;" *ngIf="validacion_formulario_seguro_vida('domicilio')">
               Execede limite de caracteres
              </mat-error>         
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="form-field">
              <input matInput placeholder="Teléfono" formControlName="telefono">
              <mat-error style="font-size: 10px;" *ngIf="validacion_formulario_seguro_vida('telefono')">
                Datos no validos
              </mat-error> 
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="form-field">
              <input matInput placeholder="Beneficiario" formControlName="beneficiario">
              <mat-error style="font-size: 10px;" *ngIf="validacion_formulario_seguro_vida('beneficiario')">
                Execede limite de caracteres
               </mat-error> 
            </mat-form-field>
          </div>
      
          <button mat-raised-button color="accent" (click)="guardarFormulario3()">Solicitar</button>
          
        </form>
      </mat-tab> 



    </mat-tab-group>
  </div>

  
  <div class="employee-info" *ngIf="empleadoSeleccionado">
    <h3>Información del agente beneficiario</h3>
    <p>Teléfono: {{ empleadoSeleccionado.telefono }}</p>
    <p>Correo: {{ empleadoSeleccionado.correo }}</p>
    <p>Unidad: {{ empleadoSeleccionado.unidad }}</p>
    <p>Antigüedad: {{ empleadoSeleccionado.antiguedad }}</p>
  </div>

</div>
